<a href="https://colab.research.google.com/github/VU21CSEN0100410/python-new/blob/module1/1st_module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Accept input from user and store it in variable and print the value

In [ ]:
a=300
b=200
c=int(input())
d=int(input())
e=a-(b)-(c)-(d)
print(e)

100
50
-50

Use of print statements and use of (.format )for printing different data types

In [ ]:
quantity=5
itemno=213
price=80
myorder="i want {} pieces of item {} for {} dollars"
print(myorder.format(quantity,itemno,price))

i want 5 pieces of item 213 for 80 dollars

Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print
the output

In [ ]:
a=int(input("enter a number"))
b=int(input("enter a number"))
sum=a+b
print(sum)
subt=a-b
print(subt)
multi=a*b
print(multi)
div=a/b
print(div)
rem=a%b
print(rem)
print(type(a))

enter a number20
enter a number10
30
10
200
2.0
0
<class 'int'>

Same operations on floating point input as well

In [ ]:
a=20.5
b=10.1
sum=a+b
print(sum)
subt=a-b
print(subt)
multi=a*b
print(multi)
div=a/b
print(div)
rem=a%b
print(rem)
print(type(a))

30.6
10.4
207.04999999999998
2.0297029702970297
0.3000000000000007
<class 'float'>

Conversion of one unit to another

In [ ]:
kilometers = float(input("Enter value in kilometers: "))
conv_fac = 0.621371
miles = kilometers * conv_fac
print('%0.2f kilometers is equal to %0.2f miles' %(kilometers,miles))

Enter value in kilometers: 4
4.00 kilometers is equal to 2.49 miles

Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,
pow, sqrt etc.

In [ ]:
import math
my_int=4.5678
print(math.ceil(my_int))
my_int=4.5678
print(math.floor(my_int))
my_int=4.5678
print(math.fabs(my_int))
print(math.fmod(4.5678, 7.8976))
my_int=4.5678
print(math.trunc(my_int))
print(math.pow(4.5678, 7.8976))
my_int=4.5678
print(math.sqrt(my_int))

5
4
4.5678
4.5678
4
162219.3423504213
2.1372412124044398

Building a mathematical calculator that can perform operations according to user input.
Use decision making statement.

In [ ]:
a=float (input ("enter number "))
b=float (input ("enter a number "))
i=input("enter operation")
if i=="+":
  print (a+b)
elif i=="-":
 print(a-b)
elif i=="%":
 print (axb)
elif i=="*":
 print (a*b)
else:
 print(a/b)

enter number 10.4
enter a number 20.8
enter operation+
31.200000000000003

Accepting 5 different subject marks from user and displaying the grade of the student

In [ ]:
a=int(input("enter 1st subject marks"))
b=int(input("enter 2nd subject marks"))
c=int(input("enter 3rd subject marks"))
d=int(input("enter 4th subject marks"))
e=int(input("enter 5th subject marks"))
f=(a+b+c+d+e)/5
if f>90:
 print("grade A")
elif f>80 and f<90:
  print("grade B")
elif f>70 and f<80:
  print("grade C")
elif f<70:
  print("grade D")

enter 1st subject marks100
enter 2nd subject marks99
enter 3rd subject marks90
enter 4th subject marks93
enter 5th subject marks100
grade A

Printing all even numbers, odd numbers, count of even numbers, count of odd numbers
within a given range.

In [ ]:
n=int(input ("enter range "))
c=0
for i in range(1,n+1):
 if i%2==0: 
   c+=1
   print(i)

print("even count is ",c)

d=0
for i in range (1,n+1): 
  if i%2!=0:
    d+=1
  print(i)

print("odd count is ",d)

enter range 30
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
even count is  15
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
odd count is  15

Compute the factorial of a given number

In [ ]:
n=int(input("Enter a number"))
fac=1
for i in range(1,n+1):
   fac=fac*i

print(fac)

Enter a number5
120

Compute GCD of two given
numbers.

In [ ]:
a=int(input("Enter a number"))
b=int(input("Enter a number"))
k=a if a<b else b
while True:
   if a%k==0 and b%k==0:
      break
      k+=1
print(k)

Enter a number60
Enter a number20
20

Generate Fibonacci series up to N numbers

In [ ]:
num=int(input("Enter a number"))
n1,n2=0,1
print("Fibonacci series:",n1,n2,end=" ")
for i in range(2,num):
   n3=n1+n2
   n1=n2
   n2=n3
   print(n3,end=" ")

Enter a number21
Fibonacci series: 0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597 2584 4181 6765

Check whether the given input is
 
 a) palindrome

c)perfect

In [ ]:
num=int(input("Enter the number: "))  
sum_v=0  
for i in range(1,num):  
    if (num%i==0):  
        sum_v=sum_v+i  
if(sum_v==num):  
    print("The entered number is a perfect number")  
else:  
    print("The entered number is not a perfect number")

Enter the number: 6
The entered number is a perfect number

Compute compound interest using loop for a certain principal and interest amount

In [ ]:
n=int(input("Enter the principle amount:"))
rate=int(input("Enter the rate:"))
years=int(input("Enter the number of years:"))
for i in range(years):
    n=n+((n*rate)/100)
print(n)

Enter the principle amount:1000
Enter the rate:20
Enter the number of years:3
1728.0