<a href="https://colab.research.google.com/github/VU21CSEN0100410/python-new/blob/module2/2nd_module.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions 

create a function which accepts two inputs from the user and compute nCr

In [ ]:
def fact(i):
 if i>0:
  return i*fact(i-1)
 else:
  return 1
def comb(n,r):
 return (fact(n)/((fact(n-r))*fact(r)))
a=int(input('a='))
b=int(input('b='))
comb(a,b)

a=7
b=6

7.0

Program to print a specified list after removing the 0th, 4th and 5th elements.
Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
Expected Output : ['Green', 'White', 'Black']

In [ ]:
a=['Red','Green','White','Black','Pink','Yellow']
del a[0]
del a[3]
del a[3]
print(a)

['Green', 'White', 'Black']

Program to get the difference between the two lists.

In [ ]:
p=[4,8,0,1,3,26,8]
q=[5,6,9,2,1,25,9]
x=set(p)
y=set(q)
z1=x.difference(y)
z2=y.difference(x)
print(list(z1))
print(list(z2))

[0, 3, 4, 8, 26]
[2, 5, 6, 9, 25]

Program to find the second smallest number and second largest number in a list.

In [ ]:
num=[1,2,3,4,5,6,7,8,9,0]
num.sort()
print(num)
print("The second smallest number in the given list is: ",num[1])
print("The second largest number in the given list is: ",num[len(num)-2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
The second smallest number in the given list is:  1
The second largest number in the given list is:  8

Given a list of numbers of list, write a Python program to create a list of tuples
having first element as the number and second element as the square of the
number

In [ ]:
num=[2,5,8,0,4,21,3]
result=[(x,x**2) for x in num]
print("The required list is: ",result)

The required list is:  [(2, 4), (5, 25), (8, 64), (0, 0), (4, 16), (21, 441), (3, 9)]

Given list of tuples, remove all the tuples with length K.
Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
Explanation : (4, 5) of len = 2 is removed.

In [ ]:
test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
new_list=[]
K=2
for x in test_list:
 if len(x)!=K:
  new_list.append(x)
print("The filtered list without containing any element of tupple length '2' is:",new_list)

The filtered list without containing any element of tupple length '2' is: [(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

Program to generate and print a dictionary that contains a number (between 1
and n) in the form (x, x*x).
Sample Input: (n=5) :
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
my_dictionary=dict()
x=int(input("Enter a number: "))
for i in range(1,x+1):
  my_dictionary.update({i:i**2})
print("The obtained dictionary is:",my_dictionary)

Enter a number: 8
The obtained dictionary is: {1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

Program to remove a key from a dictionary

In [ ]:
biscuit={
 'name':'oreo',
 'colour':'brown and white',
 'taste':'sweet',
 'cost':30
}
biscuit.pop('taste')
print(biscuit)
del biscuit['cost']
print(biscuit)

{'name': 'oreo', 'colour': 'brown and white', 'cost': 30}
{'name': 'oreo', 'colour': 'brown and white'}

program to get the maximum and minimum value in a dictionary

In [ ]:
my_dictionary={
 'a':21, 'b':3, 'c':213, 'd':321
 }
max_value=max(my_dictionary, key=my_dictionary.get)
min_value=min(my_dictionary, key=my_dictionary.get)
print("The maximum value in the given dictionary has a key: '"+max_value+"' and its value is:",my_dictionary[max_value])
print("The minimum value in the given dictionary has a key: '"+min_value+"' and its value is:",my_dictionary[min_value])

The maximum value in the given dictionary has a key: 'd' and its value is: 321
The minimum value in the given dictionary has a key: 'b' and its value is: 3

Program to perform operations on string using unicodes ,splitting of string,accessing
elements of string using locations

In [ ]:
string=input("enter a string: ")
print(string.split())
print(string[4:])

enter a string: i love chicken biryani and prawns curry
['i', 'love', 'chicken', 'biryani', 'and', 'prawns', 'curry']
ve chicken biryani and prawns curry

Program for Counting occurrence of a certain element in a string, getting indexes that
have matching elements.For ex -.In Rabbit count how many times b has occurred .
Example-I have to go to a doctor and get myself checked. Count the number of
occXrrences of µWo¶.

In [ ]:
str_1="Rabbit"
print(str_1.count('b'))
str_2="I have to go to a doctor and get myself checked."
print(str_2.count('to'))

2
3

Program for replacing one substring by another For example - Rabbit - Replace µbb¶ b\
µcc¶

In [ ]:
k='Rabbit'
d=string.replace('bb','cc')
print(d)

Raccit

Program to Acronym generator for any user input (ex-input is Random memory access
then output should be RMA).Example - Random number (RN)

In [ ]:
string="The Light HEART lives long."
count_1=0
count_2=0
for i in string:
 if i.isupper():
  count_1+=1
 elif i.islower():
  count_2+=1
 else:
  pass
print("No.of uppercase alphabets are: ",count_1)
print("No.of lowercase alphabets are: ",count_2)

No.of uppercase alphabets are:  7
No.of lowercase alphabets are:  15

Program to count the number of strings where the string length is 2 or more and
the first and last character are same from a given list of strings

Sample List : ['abc', 'xyz', 'aba', '1221'] Expected Result : 2

In [ ]:
Sample_List = ['abc', 'xyz', 'aba',
'1221','amma','24','in','cds2t54sc']
count=0
for i in Sample_List:
 if len(i)>=2:
  if i[0]==i[len(i)-1]:
   print(i)
 count+=1
print(count)

aba
1221
amma
cds2t54sc
8